<!DOCTYPE html>
{% load static %}

<html lang=en>

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% block css %}{% endblock %}
	{% include 'chat/stylesheets.html' %}

</head>

<body>

{% include 'snippets/base_css.html' %}
{% include 'snippets/header.html' %}

<!-- Body -->
<style type="text/css">
	.main{
		min-height: 100vh;
		height: 100%;
	}
</style>
<div class="main">
	{% block content %}

	{% endblock content %}
</div>
<!-- End Body -->

{% include 'snippets/footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        
<script src="{% static "js/handlebars-v1.3.0.js" %}" type="text/javascript"></script>
{% block extra_js %}{% endblock %}
{% include 'chat/javascripts.html' %}

{% block custom_javascript %}
{% endblock custom_javascript %}

</body>


</html>